.text-white
{
    color: #fff !important;
}
.destroy-book-room{
    line-height: 32px;
    position: relative;
    text-align: center;
    border-radius: 3px;
}
.btn-destroy-book-room{
    position: absolute;
    top: 0;
    right: 0;
}
.w50{
    width: 50px;
}
.w100{
    width: 100px;
}

@media print
{    
    .no-print, .no-print *
    {
        display: none !important;
    }
    input{
        border: none !important;
        font-size:18pt !important;
    }
    select{
        border: none !important;
    }
}

.clock {
    padding: 0;
    color: black;
    margin-right: 10px;
}

#Date {
    font-size: 14px;
    text-align: center;
    text-shadow: 0 0 5px #00c6ff;
    float: left;
    padding-right: 15px;
}

.clock ul {
    margin: 0 auto;
    padding: 0px;
    list-style: none;
    text-align: center;
    float: right;
    display: inline-block;
    background: black;
    color: white;
    padding-right: 5px;
    padding-left: 5px;
}

.clock ul li {
    display: inline;
    font-size: 22px;
    text-align: center;
}

.clock #point {
    position: relative;
    -moz-animation: mymove 1s ease infinite;
    -webkit-animation: mymove 1s ease infinite;
    padding-left: 5px;
    padding-right: 5px;
}
@media (max-width: 576px){
    .clock ul li {
        font-size: 18px;
    }
}

@media (max-width: 576px){
    .clock ul li {
        font-size: 14px;
    }
}
/* Simple Animation */
@-webkit-keyframes mymove {
    0% {opacity: 1.0;
        text-shadow: 0 0 20px #00c6ff;
    }

    50% {
        opacity: 0;
        text-shadow: none;
    }

    100% {
        opacity: 1.0;
        text-shadow: 0 0 20px #00c6ff;
    }	
}

@-moz-keyframes mymove {
    0% {
        opacity: 1.0;
        text-shadow: 0 0 20px #00c6ff;
    }

    50% {
        opacity: 0;
        text-shadow: none;
    }

    100% {
        opacity: 1.0;
        text-shadow: 0 0 20px #00c6ff;
    };
}
#bill-invoice tbody{
    width: 100%;
    display: table;
}