
@media print{
    body{
        position: relative;
        margin: 0 auto; 
        color: #555555;
        background: #FFFFFF; 
        font-family: Roboto, sans-serif; 
        font-size: 18pt; 
    }
    label{
        display:none;
    }
    .dataTables_info{
        display:none;
    }
    .pagination{
        display:none;
    }
    table tbody tr td{
        border: 1px solid black!important;
    }
    table, table th, table tr td, #invoice{
        font-size: 22pt!important;
        color: black;
    }
    .border td{
        border: 1px solid black!important;
    }
}