@font-face {
    font-family: SourceSansPro;
    src: url(SourceSansPro-Regular.ttf);
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

a {
    color: #0087C3;
    text-decoration: none;
}


header {
    padding: 10px 0;
    margin-bottom: 20px;
    border-bottom: 1px solid #AAAAAA;
}

#logo {
    float: left;
    margin-top: -20px;
}

#logo img {
    height: 200px;
}



#details {
    margin-bottom: 50px;

}

#client {
    padding-left: 6px;

}

#client .to {
    color: black;
}
.name{
    color: black;
    font-family: "Times New Roman", Times, serif;
}
.nam{
    color:black;
    font-family: "Times New Roman", Times, serif;
}
h2.name {
    font-size: 1.4em;
    font-weight: normal;
    margin: 0;
}

#invoice {
    float: right;
    text-align: right;

}

#invoice h1 {
    color: black;
    font-size: 18pt;
    line-height: 1em;
    font-weight: normal;
    margin: 0  0 10px 0;
}

#invoice .date {
    font-size: 16pt;
    color: black;
}

table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    margin-bottom: 20px;
}

table th,
table td {
    padding: 20px;
    background: #EEEEEE;
    text-align: center;
    border-bottom: 1px solid #FFFFFF;
}

table th {
    white-space: nowrap;        
    font-weight: normal;
}


table td h3{
    color: #57B223;
    font-size: 15pt;
    font-weight: normal;
    margin: 0 0 0.2em 0;
}

table .no {
    color: #FFFFFF;
    font-size: 15pt;
    background: #57B223;
}

table .desc {
    text-align: left;
}

table .unit {
    background: #DDDDDD;
}

table .qty {
}



table td.unit,
table td.qty,
table td.total {
    font-size: 18pt;
}

table tbody tr:last-child td {
    border: none;
}

table tfoot td {
    padding: 10px 20px;
    background: #FFFFFF;
    border-bottom: none;
    font-size: 18pt;
    white-space: nowrap; 
    border-top: 1px solid #AAAAAA; 
    font-weight: bold;
}

table tfoot tr:first-child td {
    border-top: none; 
}

table tfoot tr:last-child td {
    color: #57B223;
    font-size: 15pt;
    border-top: 1px solid #57B223; 

}

table tfoot tr td:first-child {
    border: none;
}





@media print{
    #logo img {
        height: 150px;
    }
    body{
        font-weight: 400;
    }
    #company{
        font-size: 20pt;
        font-weight: bold;
    }
    input{
        color:black;
        font-size: 20pt;
        font-weight: bold;
    }
    .fonted{
        color:black;
        font-size: 28pt !important;
        font-weight: bold;
    }
    textarea{
        border:none!important;
    }
    .name, .address, .date, table .no{
        font-weight: bold;
        font-size: 19pt;
        color: black;
    }
    #invoice h1, #invoice .date{
        font-size: 19pt!important;
        font-weight: bold;
    }
    table, table th, table tr td, #invoice{
        font-size: 22pt!important;
        color: black;
    }
    .col-md-2 {
        flex: 0 0 16.66667%;
        max-width: 16.66667%;
    }
    .form-control{
        text-align: right;
    }

    /*    table, th, td{
            border: 1px solid black!important;
        }*/
    .border td{
        border: 1px solid black!important;
    }
    .border-none{
        border:none !important;
    }
    body{
        margin-top: -100px !important;
        color: black;

    }
    #amount_total{
        font-size:26pt !important;
    }
    table th, table td {
        padding: 0 10px!important;
    }
    .fon{
        font-size: 21pt;
        color: black;
        font-family: italic;
    }
    .table-bordered td, .table-bordered th {
         border: 1px solid black!important;
    }
   
    h1{
        font-weight: bold;
        font-family: "Times New Roman", Times, serif!important;
        font-size: 30pt;
    }
}